/* Login Page Container */
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10vh;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #4f46e5;
  margin-bottom: 20px;
}

/* Form Group */
.form-group {
  margin-bottom: 15px;
}

/* Label Styles */
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

/* Input Styles */
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s;
  background-color: #e5e7eb;
  outline: none;
  box-shadow:
    0 0 0 2px transparent,
    0 0 0 0 transparent;
}

.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
  box-shadow:
    0 0 0 2px #e5e7eb,
    0 0 0 4px #7c3aed;
  /* border-color: #007bff; */
  outline: none;
  text-align: left;
}

/* Login Button Styles */
.btn-login {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-login:hover {
  background-color: #3730a3;
}

/* Message Styles */
.login-form p {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}
